<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/bace.css">

    <link rel="stylesheet" href="./styles/modules.css">
    <title>Test</title>
</head>

<body>
    <header>
        <h1>Best Books! </h1>
        <div class="dropdown"><button class="menu">
                <!-- <img src="./styles/overlay.png" alt=""> -->
            </button>
            <div class="dropdown-content">
                <a href="/">Home </a>
                <a href="/searches/new">Search The Google Book Api</a>
            </div>
        </div>
    </header>

    <!-- <a href="">Form </a>
    <a href="">search</a> -->

    <div class="counter">
        <h2>
            <%= bookcount %> Saved Books
        </h2>
    </div>


    <% booklist.forEach(book=>{ %>
        <div>

            <img src=<%= book.image_url %> alt="">
            <h2>
                <%= book.title %>
            </h2>
            <em>
                <%= book.authors %>
            </em>
            <p>
                <%= book.description %>
            </p>
            <form action="/books/<%= book.id%>" method="GET">
                <button class="viewBut" type="submit">View Details</button>
                <!-- <a href="/books/<%= book.id %>">View Details</a> -->
                <!-- <button>View details</button> -->
            </form>
        </div>
        <% }) %>


        <footer> <span class="dot"></span> <span class="dot"></span>
            <span class="dot"></span> <span class="dot"></span>
        </footer>
</body>

</html>